<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Publicaciones</title>
</head>
<body>
<h1>Listado de Publicaciones</h1>
<table border="1">
    <thead>
    <tr>
        <th>Nombre Chacra</th>
        <th>Descripción</th>
        <th>Ubicación</th>
        <th>Estado</th>
        <th>Productor</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="publicacion : ${publicaciones}">
        <td th:text="${publicacion.nombreChacra}"></td>
        <td th:text="${publicacion.descripcion}"></td>
        <td th:text="${publicacion.ubicacionChacra}"></td>
        <td th:text="${publicacion.estado}"></td>
        <td th:text="${publicacion.productor.nombre}"></td>
    </tr>
    </tbody>
</table>

<a href="/publicaciones/crear">Crear nueva publicación</a>
</body>
</html>
